# Elixir specific
*.beam
*.ez
**/ebin/
**/_build/
**/cover/
.erlang.cookie
.elixir_ls/

# Dependencies
deps/
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
*.env.*

# Application Data & Cartesian Shells
**/priv/data/
**/memory_cartridges/
priv/data/
memory_cartridges/

# Logs
*.log
log/

# Tests
.coverage
.coverage/
test/fixtures/

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db